gzip on;
gzip_disable "msie6";
gzip_comp_level 4;
gzip_min_length  500;
gzip_buffers 16 8k;
gzip_proxied any;
gzip_types text/plain application/xml application/javascript text/css text/js text/xml application/x-javascript text/javascript application/json application/xml+rss;
