client_max_body_size            100m;
client_body_buffer_size         128k;
client_header_timeout           5m;
client_body_timeout             5m;
send_timeout                    5m;
client_header_buffer_size       1k;
large_client_header_buffers     4 16k;
