################################################################################

server {
    listen  {{ nginx.listen }};
    server_name {{ item.key }};
{% if item.key.find('www') == -1 %}
    server_name www.{{ item.key }};
{% endif %}
{% if item.value.cart is defined %}
{% if item.value.cart.storefronts is defined %}
{% for alias in item.value.cart.storefronts %}
    server_name {{ alias }};
{% if alias.find('www') == -1 %}
    server_name www.{{ alias }};
{% endif %}
{% endfor %}
{% endif %}
{% endif %}

    ############################################################################

    charset utf-8;

    ############################################################################

    access_log  {{ nginx_role.logdir }}/{{ item.key }}/access.log extended;
    error_log   {{ nginx_role.logdir }}/{{ item.key }}/error.log;

    ############################################################################

    include xtra/error-40X.conf;
    include xtra/error-50X.conf;

    ############################################################################

    # ssl                         on;
    # ssl_certificate             /etc/ssl/certs/{{ item.key }}.pem;
    # ssl_certificate_key         /etc/ssl/private/{{ item.key }}.key;
    # include                     xtra/ssl.conf;

    ############################################################################

    set $root "{{ stores_dir }}/{{ item.key }}";
    root $root;

    ############################################################################

    error_page 598 = @backend;

    ############################################################################

    location @backend {
        try_files $uri $uri/ /$1/$3 /$2/$3 $3 /index.php =404;
        fastcgi_pass www;
        fastcgi_index index.php;
        fastcgi_read_timeout 360;
        include xtra/fastcgi_params.conf;
        # include xtra/fastcgi_params_ssl.conf;
    }

    location @fallback {
        rewrite  ^/(\w+/)?(\w+/)?(.*)$ /$1/index.php?$args last;
        rewrite  ^/(\w+/)?(\w+/)?(.*)$ /index.php?$args last;
    }

    location @statics {
        rewrite ^/(\w+/)?(\w+/)?(.*)$ /$1/$3 break;
        access_log off;
        try_files $uri $uri/ /$1/$3 /$2/$3 $3 @fallback;
        rewrite_log off;
        expires max;
        add_header Cache-Control public;
        add_header Access-Control-Allow-Origin *;
    }

############################################################################

    location / {
        index  index.php index.html index.htm;
        rewrite ^/(\w+/)?(\w+/)?api/(.*)$ /$1/api.php?_d=$3&ajax_custom=1&$args last;
        try_files $uri $uri/ /$1/$3 /$2/$3 $3 @fallback;

        location ~ ^/(\w+/)?(\w+/)?app/payments/ {
            return 404;
            location ~ \.php$ {
                return 598;
            }
        }

        location ~ ^/(\w+/)?(\w+/)?app/addons/rus_exim_1c/ {
            return 404;
            location ~ \.php$ {
                return 598;
            }
        }

        location ~ ^/(\w+/)?(\w+/)?app/ {
            return 404;
        }

        location ~ ^/(\w+/)?(\w+/)?app/ {
            return 404;
        }

        location ~ ^/(\w+/)?(\w+/)?design/ {
            allow all;
            location ~* \.([tT][pP][lL]|[pP][hH][pP].?)$ {
                return 404;
            }
        }

        location ~ ^/(\w+/)?(\w+/)?var/backups/ {
            return 404;
        }
        
        location ~ ^/(\w+/)?(\w+/)?var/restore/ {
            return 404;
        }

        location ~ ^/(\w+/)?(\w+/)?var/themes_repository/ {
            allow all;
            location ~* \.([tT][pP][lL]|[pP][hH][pP].?)$ {
                return 404;
            }
        }
        
        location ~ ^/(\w+/)?(\w+/)?images/ {
            allow all;
            location ~* \.([pP][hH][pP].?)$ {
                return 404;
            }
        }

        location ~ ^/(\w+/)?(\w+/)?init.php {
            return 404;
        }

        location ~* \.([tT][pP][lL].?)$ {
            return 404;
        }

        location ~ /\.(ht|git) {
            return 404;
        }
        
        location ~ ^/(\w+/)?(\w+/)?var/ {
            return 404;
            location ~* \.(jpe?g|ico|gif|png|css|js|pdf|txt|tar|wof|woff|svg|ttf|csv|zip|xml|yml)$ {
                allow all;
                expires 1M;
                add_header Cache-Control public;
                add_header Access-Control-Allow-Origin *;
            }
        }

        location ~* /(\w+/)?(\w+/)?(.+\.(jpe?g|ico|gif|png|css|js|pdf|txt|tar|wof|woff|svg|ttf|csv|zip|xml|yml)) {
            access_log off;
            try_files $uri $uri/ /$1/$3 /$2/$3 $3 @statics;
            expires max;
            add_header Access-Control-Allow-Origin *;
            add_header Cache-Control public;
        }

        location ~* /(\w+/)?(\w+/)?(.+\.php)$ {
            return 598 ;
        }

        location ~* \.php$ {
            return 598 ;
        }

    }
}

################################################################################
