<IfModule mod_status.c>

  <Location /server-status>
    SetHandler server-status
    Require local
    #Require ip 192.0.2.0/24
  </Location>

  ExtendedStatus On

  # Determine if mod_status displays the first 63 characters of a request or
  # the last 63, assuming the request itself is greater than 63 chars.
  # Default: Off
  #SeeRequestTail On

  <IfModule mod_proxy.c>
    ProxyStatus On
  </IfModule>

</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet