[{{ item.key }}]
user = {{ item.value.owner|default(php_role.fpm.owner) }}
group = {{ item.value.group|default(php_role.fpm.group) }}
listen = {{ item.value.listen|default('9000') }}
listen.owner = {{ item.value.owner|default(php_role.fpm.user) }}
listen.group = {{ item.value.group|default(php_role.fpm.group) }}
listen.mode = 0666
pm = dynamic
pm.max_children = {{ item.value.max_children|default(ansible_processor_vcpus * 4) }}
pm.start_servers = {{ item.value.start_servers|default(ansible_processor_vcpus * 2) }}
pm.min_spare_servers = {{ item.value.min_spare_servers|default(ansible_processor_vcpus) }}
pm.max_spare_servers = {{ item.value.max_spare_servers|default(ansible_processor_vcpus * 2) }}
process.priority = {{ item.value.priority|default(-19) }}
chdir = /
php_flag[display_errors] = Off
php_admin_flag[log_errors] = On
php_admin_value[error_log] = {{ php_role.fpm.logdir|default('/var/log') }}/{{ item.key }}/error.log
php_admin_value[memory_limit] = {{ item.value.memory_limit|default(php.general.memory_limit) }}
