{{ apache_role.logdir }}/*.log
{{ apache_role.logdir }}/*/*.log {
  daily
  missingok
  rotate 14
  compress
  delaycompress
  notifempty
  create 640 {{ service.user }} {{ service.group }}
  sharedscripts
  {% if ansible_os_family == "Debian" %}
  postrotate
    if /etc/init.d/apache2 status > /dev/null ; then \
        /etc/init.d/apache2 reload > /dev/null; \
    fi;
  endscript
  prerotate
    if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
      run-parts /etc/logrotate.d/httpd-prerotate; \
    fi; \
  endscript
  {% endif %}
  {% if ansible_os_family == "RedHat" %}
  postrotate
      /sbin/service httpd reload > /dev/null 2>/dev/null || true
  endscript
  {% endif %}
}