################################################################################

0     short             0xcafe
>2    short             0xbabe                  application/java

################################################################################

0     string            .snd
>12   belong            1                       audio/basic
>12   belong            2                       audio/basic
>12   belong            3                       audio/basic
>12   belong            4                       audio/basic
>12   belong            5                       audio/basic
>12   belong            6                       audio/basic
>12   belong            7                       audio/basic
>12   belong            23                      audio/x-adpcm
0     lelong            0x0064732E
>12   lelong            1                       audio/x-dec-basic
>12   lelong            2                       audio/x-dec-basic
>12   lelong            3                       audio/x-dec-basic
>12   lelong            4                       audio/x-dec-basic
>12   lelong            5                       audio/x-dec-basic
>12   lelong            6                       audio/x-dec-basic
>12   lelong            7                       audio/x-dec-basic
>12   lelong            23                      audio/x-dec-adpcm
8     string            AIFF                    audio/x-aiff
8     string            AIFC                    audio/x-aiff
8     string            8SVX                    audio/x-aiff
0     string            MThd                    audio/unknown
0     string            CTMF                    audio/unknown
0     string            SBI                     audio/unknown
0     string            Creative\ Voice\ File   audio/unknown
0     string            RIFF                    audio/unknown
>8    string            WAVE                    audio/x-wav
0     beshort&0xfff0    0xfff0                  audio/mpeg
0     string            PSID                    audio/prs.sid

################################################################################

0     string            /*\ XPM                 image/x-xbm 7bit
0     string            /*                      text/plain
0     string            //                      text/plain

################################################################################

0     string            \037\235                application/octet-stream x-compress
0     string            \037\213                application/octet-stream x-gzip
0     string            \037\036                application/octet-stream
0     short             017437                  application/octet-stream
0     short             0x1fff                  application/octet-stream
0     string            \377\037                application/octet-stream
0     short             0145405                 application/octet-stream

################################################################################

0     string            \<MakerFile             application/x-frame
0     string            \<MIFFile               application/x-frame
0     string            \<MakerDictionary       application/x-frame
0     string            \<MakerScreenFon        application/x-frame
0     string            \<MML                   application/x-frame
0     string            \<Book                  application/x-frame
0     string            \<Maker                 application/x-frame

################################################################################

0     string            \<!DOCTYPE\ HTML        text/html
0     string            \<!doctype\ html        text/html
0     string            \<HEAD                  text/html
0     string            \<head                  text/html
0     string            \<TITLE                 text/html
0     string            \<title                 text/html
0     string            \<html                  text/html
0     string            \<HTML                  text/html
0     string            \<!--                   text/html
0     string            \<h1                    text/html
0     string            \<H1                    text/html
0     string            \<?xml                  text/xml

################################################################################

0     string            P1                      image/x-portable-bitmap 7bit
0     string            P2                      image/x-portable-greymap  7bit
0     string            P3                      image/x-portable-pixmap 7bit
0     string            P4                      image/x-portable-bitmap
0     string            P5                      image/x-portable-greymap
0     string            P6                      image/x-portable-pixmap
0     string            IIN1                    image/x-niff
0     string            MM                      image/tiff
0     string            II                      image/tiff
0     string            GIF94z                  image/unknown
0     string            FGF95a                  image/unknown
0     string            PBF                     image/unknown
0     string            GIF                     image/gif
0     beshort           0xffd8                  image/jpeg
0     string            BM                      image/bmp
0     string            \211PNG\015             image/png

################################################################################

0     string            ;;                      text/plain 8bit
0     string            \012(                   application/x-elc
0     string            ;ELC\023\000\000\000    application/x-elc
0     string            Relay-Version:          message/rfc822  7bit
0     string            #!\ rnews               message/rfc822  7bit
0     string            N#!\ rnews              message/rfc822  7bit
0     string            Forward\ to             message/rfc822  7bit
0     string            Pipe\ to                message/rfc822  7bit
0     string            Return-Path:            message/rfc822  7bit
0     string            Path:                   message/news  8bit
0     string            Xref:                   message/news  8bit
0     string            From:                   message/rfc822  7bit
0     string            Article                 message/news  8bit

################################################################################

0     string            \376\067\0\043          application/msword
0     string            \333\245-\0\0\0         application/msword
0     string            %!                      application/postscript
0     string            \004%!                  application/postscript
0     string            %PDF-                   application/pdf
38    string            Spreadsheet             application/x-sc
0     string            \367\002                application/x-dvi
0     leshort           0x02f7                  application/x-dvi
0     string            {\\rtf                  application/rtf

################################################################################

0     string            \000\000\001\263        video/mpeg
0     byte              1                       video/unknown
0     byte              2                       video/unknown
4     string            moov                    video/quicktime
4     string            mdat                    video/quicktime