; php options
pid = /var/run/hhvm/pid

; hhvm specific
hhvm.server.port = {{ hhvm.host|default(hhvm_role.host) }}
hhvm.server.port = {{ hhvm.port|default(hhvm_role.port) }}
hhvm.server.type = fastcgi
hhvm.server.default_document = index.php

; disable gzip compression
hhvm.server.gzip_compression_level = 0

; APCu
hhvm.server.apc.enable_apc = true
hhvm.server.apc.table_type = concurrent
hhvm.server.apc.expire_on_sets = true
hhvm.server.apc.purge_frequency = 4096

; JIT compilation options
hhvm.eval.jit = true
hhvm.eval.jit_warmup_requests = 50

; logging
hhvm.log.level = Error
hhvm.log.no_silencer = true
hhvm.log.always_log_unhandled_exceptions = true
hhvm.log.runtime_error_reporting_level = 8191
hhvm.log.use_log_file = true
hhvm.log.use_syslog = false
hhvm.log.injected_stack_trace = true
hhvm.log.native_stack_trace = true
hhvm.log.file = {{ hhvm_role.logdir }}/error.log
hhvm.log.access.*.file = {{ hhvm_role.logdir }}/access.log

; error handling section
hhvm.error_handling.call_user_handler_on_fatals = true
hhvm.error_handling.max_loop_count = 0
hhvm.error_handling.no_infinite_recursion_detection = false
hhvm.error_handling.throw_bad_type_exceptions = false
hhvm.error_handling.throw_too_many_arguments = false
hhvm.error_handling.warn_too_many_arguments = false
hhvm.error_handling.throw_missing_arguments = false
hhvm.error_handling.throw_invalid_arguments = false
hhvm.error_handling.enable_hip_hop_errors = true
hhvm.error_handling.notice_frequency = 1
hhvm.error_handling.warning_frequency = 1
hhvm.error_handling.assert_active = false
hhvm.error_handling.assert_warning = false

; debug
hhvm.debug.full_backtrace = true
hhvm.debug.server_stack_trace = true
hhvm.debug.server_error_message = true
hhvm.debug.translate_source = true
hhvm.debug.record_input = false
hhvm.debug.clear_input_on_success = true
hhvm.debug.profiler_output_dir = /tmp
hhvm.debug.core_dump_email = email address
hhvm.debug.core_dump_report = true
hhvm.debug.core_dump_report_directory = /tmp

hhvm.repo.central.path = /var/log/hhvm/.hhvm.hhbc

; MySQL
hhvm.mysql.readOnly = false
hhvm.mysql.connect_timeout = 1000
hhvm.mysql.read_timeout = 2000
hhvm.mysql.slow_query_threshold = 4000
hhvm.mysql.kill_on_timeout = true
hhvm.mysql.wait_timeout = -1
hhvm.mysql.typed_results = true
