[Unit]
Description=Varnish HTTP accelerator

[Service]
EnvironmentFile=/etc/default/varnish
Type=forking
LimitNOFILE=131072
LimitMEMLOCK=82000
ExecStartPre=/usr/sbin/varnishd -C -f {{ varnish.config_path }}/default.vcl
ExecStart=/usr/sbin/varnishd -a :{{ varnish.listen_port }} \
                         -T {{ varnish.admin_listen_host }}:{{ varnish.admin_listen_port }} \
                         -f {{ varnish.config_path }}/default.vcl \
			 -S {{ varnish.config_path }}/secret \
			 -s {{ varnish.storage }}
ExecReload=/usr/share/varnish/reload-vcl

[Install]
WantedBy=multi-user.target
